{:paths   ["resources" "src" "target"]
 :deps    {org.clojure/clojure {:mvn/version "RELEASE"}
           ;; html
           hiccup              {:mvn/version "1.0.5"}
           ;; css
           garden              {:mvn/version "1.3.9"}
           ;; cljs
           reagent             {:mvn/version "0.8.1"}}
 :aliases {:server   {:extra-deps {mount    {:mvn/version "0.1.16"}
                                   http-kit {:mvn/version "2.3.0"}
                                   hawk     {:mvn/version "0.2.11"}
                                   yogthos/config   {:mvn/version "1.1.2"}
                                   com.taoensso/timbre   {:mvn/version "4.10.0"}}}
           :figwheel {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}}
           :cider    {:extra-deps {org.clojure/clojure {:mvn/version "RELEASE"}
                                   cider/cider-nrepl   {:mvn/version "RELEASE"}
                                   refactor-nrepl      {:mvn/version "RELEASE"}}}
           :test     {:extra-paths ["test"]
                      :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
            :main-opts  ["-m" "cognitect.test-runner"
                         "-d" "test"]}}}
