{:paths   ["resources" "src" "target" "config/prod"]
 :deps    {org.clojure/clojure   {:mvn/version "RELEASE"}
           clj-time              {:mvn/version "0.15.1"}
           hiccup                {:mvn/version "1.0.5"}
           org.clojure/data.json {:mvn/version "0.2.6"}
           co.poyo/watch-and-run {:mvn/version "0.1.0-SNAPSHOT"}
           }
 :aliases {:dev          {:extra-paths ["config/dev" "target"]
                          :main-opts   ["-m" "co.poyo.static-tools.dev"]}
           :static-tools {:extra-deps
                          {reagent                   {:mvn/version "0.8.1"}
                           org.clojure/clojurescript {:mvn/version "RELEASE"}
                           co.poyo/static-tools      {:mvn/version "0.1.0-SNAPSHOT"}}}
           :build        {:main-opts ["-m" "co.poyo.static-tools.build"]}
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
            :main-opts  ["-m" "cognitect.test-runner"
                         "-d" "test"]}}}
